h4{
    color: #E9E9E9;
}
body{
    background-attachment: fixed;
}

.form-control{
    margin-top: 8px;
}

.header {
    vertical-align: middle;
    padding-top: 100px;
    padding-bottom: 50px;
    text-align: center;

}

.box {
    background: url('/assets/fondo1.png');
}

.ui-autocomplete {
    max-height: 100px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}
/* IE 6 doesn't support max-height
     * we use height instead, but this forces the menu to always be this tall
     */
* html .ui-autocomplete {
    height: 100px;
}