/*#grades-body{
    background: url('../images/home/fotoUN_5.jpg') repeat repeat;
    background-size: 100%;
}
#information-panel-n-logo{
    background-color: transparent;
    width: 40%;
}
#information-panel-logo{
    background-color: transparent;
    width: 30%;
}*/
/* TODO */
#academic-record{
    margin-top: 20px;
    max-height: 12em;
    overflow-y: auto;
}
/* TODO */
#saved_container{
    display: none;
}
#saved-msj{
    text-align: left;
    display: inline-block;
}
.div-center{
    text-align: center;
}
.div-right{
    text-align: right;
}
#text-expected-avg{
    line-height: 30px;
    display: inline-block;
    vertical-align: middle;
}
#display-block{
    display: inline-block;
}
