body {
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: #08283D;
    margin: 0
}

h3, h6, p{
    text-align: center;
}

img {
    display: block;
    margin: auto;
    height: auto;
}

#imgM {
    max-width: 30%;
}

#logo {
    max-width: 40%;
}
