.accordionSchedules{
    position: absolute;
    top: 30%;
    left: 82%;
    width: 16%;
    /*background-color: transparent;*/
}

.subjectArea{
    border: 4px solid white;
    overflow: auto;
    padding: 8px;
    border-radius: 5px;
    background: url(../images/fondo1.png);
}
.titleSubject{
    text-align: center;
    border-radius: 5px;
}
.daySubject{
    width: 46%;
    float: left;
    display: block;
    text-align: center;
    border-radius: 5px;
    margin-left: 2%;
    margin-right: 2%;
    background-color: #1ab394;
    padding-top: 5px;
    padding-bottom: 5px;
}
.daySubject:hover{
    cursor: hand;
    background-color: #12ab8c;
}
