body {
    background-color: #f7f7f7;
}

h4 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#avatar-img {
    display: block;
    margin: auto;
    min-width: 80px;
    min-height: 80px;
    max-width: 15%;
    max-height: 15%;
}

.small-size {
    width: 100%;
}

.cont{
    display: flex;
    display: -webkit-flex;
}