body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
}

.column {
    padding-top: 40px;
    padding-left: 10px;
    height: 100%;
    display: inline-block;
}

.filter {
    width: 25%;
    float: left;
}

.schedule {
    width: 50%;
}

.selectedC {
    width: 25%;
    float: right;
}

.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
    border-radius: 8px;
    width: 70%;
}

.ui-menu {
    width: 70%;
}

.ui-autocomplete {

    max-height: 100px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}

/* IE 6 doesn't support max-height
 * we use height instead, but this forces the menu to always be this tall
 */
* html .ui-autocomplete {
    height: 100px;
}