body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
}

.column {
    padding-top: 40px;
    padding-left: 10px;
    padding-right: 10px;
    height: 100%;
    display: inline-block;
}

.filter {
    width: 25%;
    float: left;
}

.schedule {
    width: 50%;
}

.selectedC {
    width: 25%;
    float: right;
}

.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button,
select {
    border-radius: 8px;
    width: 100%;
}

.selectableItem .ui-selecting {
    background: #FECA40;
}

.selectableItem .ui-selected {
    background: #F39814;
    color: white;
}


.selectableItem {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.selectablemenu {
    height: 50%;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.selectableItem li {
    margin: 1px;
    font-size: 1em;
    border-radius: 8px;
    background-color: #66afe9;
}

#accordionGroup  .ui-accordion-content{
    padding: 10px;
}

#accordionGroup {
    height: 100%;
    overflow-y: auto;
}

#accordionGroup h3 {
    overflow: auto;
}

#accordionGroup a {
    float: right;
}


.scheduleTableD {
    width: 100%;
    overflow: auto;
}

th,td
{
    font-size: 1em;
    margin: 0;
    text-align: center;
    border-collapse: collapse;
    border:1px dashed #C0C0C0;
    padding:5px;
    background:#F0F0F0;
}

td
{
    padding: 5px 10px;
}

th
{
    background: #666;
    color: white;
    padding: 5px 10px;
}

td:hover
{
    cursor: pointer;
    background: #666;
    color: white;
}

.ui-autocomplete {

    max-height: 100px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}

/* IE 6 doesn't support max-height
 * we use height instead, but this forces the menu to always be this tall
 */
* html .ui-autocomplete {
    height: 100px;
}