body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.center-contatiner{
  margin-top:5%

}
.center-contatiner-r{
  margin-top:2%

}
.margin-forgotpwd{
  margin-top:10px;
  margin-bottom: 10px;
}

.font-uncake{
  font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
  font-size: 300%;
  margin-bottom:100px;

}
.font-uncaket{
  font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;

}

.color-black{
  background-color:#666666;
  border-color: #666666;
}

.col-6{
  width: 50%;
}
.error{
  font-size: 200%;
  color: firebrick;
  margin-right: 1%;
}
.error.errorm{
  font-size: 110%;
}